body { 
	font-family: 'Raleway', sans serif;
  background: url(landingimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: purple;
  padding:30px;
}
/*#navbar {
	cursor: default;
}*/

header {
	text-align: center;
	color: white;
	font-size: 150%;
	font-weight: bold;
}

a {
	color: white;
}

a:hover {
	color: cyan;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: rgb(221, 185, 252);
	cursor: default;
	background-color: rgba(45, 36, 50, 0.5);
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: purple;
	border-color: purple;

}

.btn:hover {
	background-color: purple;
	border-color: orange;
	border-width: 2px;
	text-transform: uppercase;
}